<%- include('../partials/header') %>

<h2>Add New Car:</h2>
<form action="/cars" method="POST">
    <div class="formContainer">  
        <label>Make: 
            <input class="newForm" type="text" name="make">
        </label>
        <br/><br/>
        <label>Model: 
            <input class="newForm" type="text" name="model">
        </label>
        <br/><br/>
        <label>Year: 
            <input class="newForm" type="number" name="releaseYear">
        </label>
        <br/><br/>
        <label>Color: 
            <input class="newForm" type="text" name="color">
        </label>
    </div> 
        <br/><br/>
        <button type="submit">Add Car</button>
</form>


<%- include('../partials/footer') %>